@import '../../../../../../assets/constants/helpers/helper.scss';


.modal_container {
    background-color: $background_color;
    border-radius: 8px;


    .header {
        padding: 16px 24px 0px 24px;

        .p-image {

            
            .default-image {
                border: solid 4px $primary_blue;
                border-radius: 100%;
                padding: 20px;

            }


            .change-uploaded-img {

                display: none;

            }

            &:hover {
                .default-image {
                background-color: rgba(0, 0, 0, 0.5);
               
                }
                .change-uploaded-img {
                    position: absolute;
                    margin-top: 64px;
                    margin-left: 16px;
                    overflow: hidden;
                    background-color: $background_color;
                    padding: 12px 12px;
                    border-radius: 8px;
                    transform: all 0.9s ease-out;

                    span {
                        display: block;
                        animation: fadeIn 0.5s ease-in-out;

                        @keyframes fadeIn {
                            0% {
                                opacity: 0;
                                transform: translateX(-80px);
                            }

                            100% {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }

                        color: $black;
                    }

                    width: 128px !important;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .staff-status {
            background-color: $primary_blue;
            width: 88px;
            color: $white;
            padding: 8px 16px;
            border-radius: 8px;
        }


    }

    .staff_modal_body {
        padding: 16px 24px 0px 24px;

        .step {
            .step-titel {

                font-size: 24px;

                font-weight: 600;
            }

            .staff-infos {
                .staff-table {
                    border-radius: 8px;
                    background: $background_color;



                    .lable {
                        width: 582px;
                        height: 64px;
                        padding: 0px 20px 0px 20px;
                        background-color: $white;
                        border-bottom: 1px solid $black;
                        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1), 3px 0 5px rgba(0, 0, 0, 0.1);

                        h1 {

                            font-size: 20px;
                            font-weight: 400;
                            flex: 1;

                        }

                        &:hover {
                            .copy-icon {
                                display: block;

                            }
                        }

                        .copy-icon {
                            display: none;
                            cursor: pointer;
                        }

                        h2 {
                            font-size: 20px;
                            font-weight: 500;

                        }

                        .edit-input {
                            display: none;
                        }

                        .adons_ {
                            z-index: 9999;
                            position: absolute;
                            top: 1536px;
                            right: 128px;
                        }


                    }

                    .lable.start {
                        border-radius: 8px 8px 0px 0px;
                    }

                    .lable.end {
                        border-radius: 0px 0px 8px 8px;
                        border-bottom: 0px;

                    }

                    .edit-btn {

                        background-color: $background_color;
                        padding-left: 8px;

                        .icon-edit {
                            width: 56px;
                            height: 56px;
                            background-color: $text_fields_arrow_square;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                        }

                    }

                    .icon-save {
                        display: none;
                    }
                }


            }
        }
    }
}