//colors

$background_color: #EFEFF4;
$white : #FFFFFF;
$primary_blue: #3741D7;
$subtle_primary:#E1E2F0;
$text_field_color: #F3F3F4;
$text_fields_arrow_square: #DCDCDC;
$active_text_fields_fill:#D4D5E7;
$active_text_field_stroke:#25041E;
$text_fields_labels_color: #606060;
$text_fields_place_holder: #919191;
$black: #000000;

$background_of_buttons:#DCDCDC;

$green: #74F28F;
$borders: #BCBCBC;

$red-error : #E82727;

$mid-gray : #808080;

