@import '../../../assets/constants/helpers/helper.scss';

.home {
    display: flex;

    .homeContainer {
        background-color: $background_color;
        margin-left: 244px;
        width: 100%;

        .widgets {

            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .table_champ{
            width: 100%;
            display: flex;
            padding: 20px;


        }

        .wrapper {

          width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            padding: 20px;
            gap: 20px;

            

        }
    }
}