@import '../../../../../assets/constants/helpers/helper.scss';

.form-container {
  background: $white;
  padding: 24px 64px 56px 64px;

  .butn {
    background: $background_of_buttons;
    color: $black;


  }

  .Add_New_Workout {

    padding: 21px 222px 21px 222px;
    width: 732px;
    border-radius: 8px;
  }


}






.plans {
  
  
  background: $white;

   margin-top: 120px;
    
  border-radius: 8px;
  overflow-y: auto;
  padding: 2rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.24);

 
  .workouts{
    width: 718px;
    border: 1px solid $mid-gray;
    justify-content: center;
    display: flex;
    border-radius: 8px; 
    
    padding: 32px 24px;
 

    .Add_New_Workout{
      

      padding: 12px 180px 12px 180px;
        width: 632px;
        border-radius: 8px;
      
    }
  }

}

.modal-header {
  .title {
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    line-height: normal;
  }

}

.btn-save{
  display: none;
}
